Repository turbonemesis/constitution, changes with the owners that CODEOWNERS names for each.
All owners: @RentDynamics/qa, @chase2981, @levicus

CODEOWNERS:

# This is an example of a code owners file
# lines starting with a `#` will be ignored.
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# We can specify a default global match using wildcards:
* @RentDynamics/qa

# Code Owners section:
# changes to redux
# store/ @chase2981
# reducers/ @chase2981

# changes to deploy
# deploy/ @levicus @chase2981
# .circleci/ @levicus @chase2981

# changes to actual codeowners file
CODEOWNERS @chase2981 @RentDynamics/qa @levicus
rules @chase2981 @RentDynamics/qa @levicus
CONSTITUTION.md @chase2981 @RentDynamics/qa @levicus

Update CONSTITUTION.md
  CONSTITUTION.md
Owners: @chase2981, @RentDynamics/qa, @levicus

Update CONSTITUTION.md
  CONSTITUTION.md
Owners: @chase2981, @RentDynamics/qa, @levicus

Update CONSTITUTION.md
  CONSTITUTION.md
Owners: @chase2981, @RentDynamics/qa, @levicus

Update REFERENCES.md
  REFERENCES.md
Owners: @RentDynamics/qa

added slides, other small updates
  .idea/.gitignore
  .idea/constitution.iml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  CONSTITUTION.md
  README.md
  REFERENCES.md
Owners: @RentDynamics/qa, @chase2981, @levicus

progress
  CONSTITUTION.md
  README.md
Owners: @chase2981, @RentDynamics/qa, @levicus

progress
  README.md
Owners: @RentDynamics/qa

progress
  README.md
Owners: @RentDynamics/qa

Update CONSTITUTION.md
  CONSTITUTION.md
Owners: @chase2981, @RentDynamics/qa, @levicus

Update CONSTITUTION.md
  CONSTITUTION.md
Owners: @chase2981, @RentDynamics/qa, @levicus

Update CONSTITUTION.md
  CONSTITUTION.md
Owners: @chase2981, @RentDynamics/qa, @levicus

Update CONSTITUTION.md
  CONSTITUTION.md
Owners: @chase2981, @RentDynamics/qa, @levicus

Update README.md
  README.md
Owners: @RentDynamics/qa

add 48 hr meeting notice requirement, cleanup
  CONSTITUTION.md
Owners: @chase2981, @RentDynamics/qa, @levicus

Update README.md
  README.md
Owners: @RentDynamics/qa

Update README.md
  README.md
Owners: @RentDynamics/qa

Update README.md
  README.md
Owners: @RentDynamics/qa

Update README.md
  README.md
Owners: @RentDynamics/qa

Update README.md
  README.md
Owners: @RentDynamics/qa

Update README.md
  README.md
Owners: @RentDynamics/qa

Update CONSTITUTION.md
  CONSTITUTION.md
Owners: @chase2981, @RentDynamics/qa, @levicus

Update CONSTITUTION.md
  CONSTITUTION.md
Owners: @chase2981, @RentDynamics/qa, @levicus

Update CONSTITUTION.md
  CONSTITUTION.md
Owners: @chase2981, @RentDynamics/qa, @levicus

Update CONSTITUTION.md
  CONSTITUTION.md
Owners: @chase2981, @RentDynamics/qa, @levicus

Update CONSTITUTION.md
  CONSTITUTION.md
Owners: @chase2981, @RentDynamics/qa, @levicus

Update README.md
  README.md
Owners: @RentDynamics/qa

Update README.md
  README.md
Owners: @RentDynamics/qa

Update README.md
  README.md
Owners: @RentDynamics/qa

Update README.md
  README.md
Owners: @RentDynamics/qa

Update README.md
  README.md
Owners: @RentDynamics/qa

Update README.md
  README.md
Owners: @RentDynamics/qa

Update REFERENCES.md
  REFERENCES.md
Owners: @RentDynamics/qa

Update README.md
  README.md
Owners: @RentDynamics/qa

Update README.md
  README.md
Owners: @RentDynamics/qa
